body {
  margin: 0;
  padding: 0;
}

.standart {
  display: none;
}

.standart-title {
  display: none;
}

.fixed-container {
  max-width: 1068px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blue-btn {
  border: none;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  line-height: 1.69;
  color: #FFF;
  text-transform: uppercase;
  border-radius: 25px;
  background-color: #0063dd;
  outline: none;
  cursor: pointer;
}

.white-btn {
  font-family: "Quicksand", sans-serif;
  line-height: 1.69;
  color: #0f7bff;
  font-weight: bold;
  border-radius: 25px;
  border: solid 2px #0f7bff;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.bckg-color {
  background-color: #f5fcfd;
}

.nav-bar {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px;
}
.nav-bar__span {
  font-family: "Quicksand", sans-serif;
  margin: 33px 0;
  display: inline-block;
  font-size: 36px;
  line-height: 0.67;
  font-weight: bold;
  color: #0f7bff;
}
.nav-bar__menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-bar__item {
  display: inline-block;
  vertical-align: middle;
}
.nav-bar__link {
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  color: #929292;
  font-weight: 500;
  line-height: 1.69;
  text-transform: uppercase;
  margin-right: 30px;
  outline: none;
  transition: 1s;
}
.nav-bar__link:hover {
  color: #0f7bff;
}
.nav-bar__btn {
  padding: 10px 52px;
  margin-left: 30px;
}

.all-info {
  background-color: #f5fcfd;
  padding: 130px 0;
  border-bottom: 1px solid #FFF;
}
.all-info__container {
  align-items: flex-start;
}
.all-info__logo {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  display: inline-block;
  font-size: 36px;
  line-height: 0.67;
  font-weight: bold;
  color: #0f7bff;
}
.all-info__fb {
  display: inline-block;
  background: url("../../components/images/fb-footer.png") no-repeat center center;
  width: 10px;
  height: 20px;
  transition: 1s;
  opacity: 0.3;
  margin-right: 20px;
}
.all-info__fb:hover {
  opacity: 1;
}
.all-info__twitter {
  display: inline-block;
  background: url("../../components/images/twitter-footer.png") no-repeat center center;
  width: 18px;
  height: 16px;
  transition: 1s;
  opacity: 0.3;
  margin-right: 20px;
}
.all-info__twitter:hover {
  opacity: 1;
}
.all-info__yt {
  display: inline-block;
  background: url("../../components/images/yt-footer.png") no-repeat center center;
  width: 19px;
  height: 14px;
  transition: 1s;
  opacity: 0.3;
}
.all-info__yt:hover {
  opacity: 1;
}
.all-info__text {
  font-family: "Quicksand", sans-serif;
  line-height: 1.69;
  color: #929292;
  width: 400px;
  margin-top: 33px;
}
.all-info__sub-title {
  margin-top: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: #333333;
  margin-bottom: 30px;
}
.all-info__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.all-info__item {
  margin-bottom: 10px;
}
.all-info__link {
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  line-height: 1.69;
  color: #929292;
  transition: 1s;
}
.all-info__link:hover {
  color: #0f7bff;
}

.coperyght {
  position: relative;
  background-color: #f5fcfd;
  padding: 41px 0;
}
.coperyght__text {
  margin-right: 19%;
  font-family: "Quicksand", sans-serif;
  line-height: 1.69;
  color: #929292;
}
.coperyght__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.coperyght__item {
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
}
.coperyght__item_padding {
  margin-right: 0;
}
.coperyght__link {
  font-family: "Quicksand", sans-serif;
  line-height: 1.69;
  color: #929292;
  text-decoration: none;
  transition: 1s;
}
.coperyght__link:hover {
  color: #0f7bff;
}
.coperyght__footer-arrow {
  width: 18px;
  height: 24px;
  padding: 7px 10px;
  background: url("../../components/images/arrow-footer.png") no-repeat center center;
  border-radius: 3px;
  background-color: #0f7bff;
  position: absolute;
  top: 32.5%;
  right: 10%;
}

.cover {
  border-top: 1px solid whitesmoke;
  padding: 36px 0;
  background-color: #f5fcfd;
}
.cover__title {
  font-family: "Quicksand", sans-serif;
  font-size: 42px;
  font-weight: bold;
  line-height: 0.57;
  color: #333333;
  text-transform: uppercase;
}
.cover__sub-title {
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: #333333;
}

.side__search {
  margin-bottom: 50px;
  width: 360px;
  box-shadow: 1px 11px 13px 0 rgba(151, 151, 151, 0.19);
  border-radius: 32px;
}
.side__span {
  background: url("../images/search.png") no-repeat center center;
  background-color: #0f7bff;
  width: 34px;
  height: 34px;
  padding: 10px 24px;
  border-bottom-right-radius: 32px;
  border-top-right-radius: 32px;
  outline: none;
  cursor: pointer;
}
.side__input {
  font-family: "Quicksand", sans-serif;
  line-height: 1.69;
  color: #929292;
  padding: 15px 0 15px 30px;
  border: none;
  width: 100%;
  border-bottom-left-radius: 32px;
  border-top-left-radius: 32px;
  border: 1px solid #dcdcdc;
  outline: none;
}
.side__people {
  padding: 20px 0 20px 30px;
  box-shadow: 0 0 25px 0 #f0f0f0;
  border: solid 1px #dcdcdc;
  margin-bottom: 50px;
}
.side__main-title {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  color: #333333;
}
.side__boxs {
  margin-bottom: 20px;
}
.side__group-text {
  padding: 0 30px;
}
.side__group-text:hover .posts__title {
  color: #0f7bff;
}
.side__group-text:hover .posts__link {
  color: #0f7bff;
}
.side__group-text:hover .posts__span {
  opacity: 1;
}
.side__title {
  transition: 1s;
  margin-top: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
  color: #333333;
}
.side__title_padding-bottom {
  margin-bottom: 0;
}
.side__title:hover {
  color: #0f7bff;
}
.side__text {
  font-family: "Quicksand", sans-serif;
  line-height: 1.69;
  color: #929292;
  margin-top: 0;
  margin-bottom: 20px;
}
.side__text_padding-bottom {
  margin-bottom: 0;
}
.side__catalog {
  margin-bottom: 50px;
  padding: 20px 0 20px 30px;
  box-shadow: 0 0 25px 0 #f0f0f0;
  border: solid 1px #dcdcdc;
}
.side__tags {
  padding: 20px 30px;
  box-shadow: 0 0 25px 0 #f0f0f0;
  border: solid 1px #dcdcdc;
}
.side__input-tags[type=checkbox] {
  display: none;
}
.side__input-tags[type=checkbox]:checked + span {
  border: solid 1px #0f7bff;
  background-color: #0f7bff;
  color: #FFF;
}
.side__tags-span {
  display: inline-block;
  vertical-align: middle;
  font-family: "Quicksand", sans-serif;
  line-height: 1.69;
  color: #929292;
  border-radius: 14px;
  border: solid 1px #dcdcdc;
  transition: 1s;
  padding: 4px 6px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.post {
  padding: 130px 0;
}
.post__container {
  align-items: flex-start;
}
.post__only-one {
  margin-right: 30px;
}
.post__icon {
  font-family: "Quicksand", sans-serif;
  line-height: 1.69;
  color: #929292;
  margin-bottom: 20px;
  width: 350px;
}
.post__title {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  color: #333333;
}
.post__text {
  font-family: "Quicksand", sans-serif;
  line-height: 1.69;
  color: #929292;
}
.post__date {
  text-align: right;
  width: 120px;
  background: url("../images/calendar.png") no-repeat 0 50%;
  background-size: 15%;
}
.post__comment {
  text-align: right;
  width: 40px;
  background: url("../images/comment.png") no-repeat 0 50%;
  background-size: 40%;
}
.post__likes {
  text-align: right;
  width: 40px;
  background: url("../images/like.png") no-repeat 0 50%;
  background-size: 40%;
  margin-right: 40px;
}
.post__text-comment {
  margin: 0 0 0 70px;
  font-family: "Quicksand", sans-serif;
  line-height: 1.69;
  color: #333333;
}
.post__hr {
  margin: 40px 0;
  border: 1px solid whitesmoke;
}
.post__txt {
  font-family: "Quicksand", sans-serif;
  line-height: 1.69;
  color: #333333;
  margin-right: 10px;
}
.post__group-btn {
  margin-top: 30px;
  text-align: center;
}
.post__button {
  padding: 10px 30px;
}
.post__btn {
  margin-left: 30px;
  padding: 10px 50px;
}
.post__input {
  width: 45%;
  border-radius: 5px;
  border: solid 1px #dcdcdc;
  padding: 15px 0 15px 20px;
  margin: 0 0 30px;
  outline: none;
  font-family: "Quicksand", sans-serif;
  line-height: 1.69;
  color: #929292;
}
.post__input::placeholder {
  font-family: "Quicksand", sans-serif;
  line-height: 1.69;
  color: #929292;
}
.post__input_textarea {
  width: 750px;
}
.post__content-btn {
  display: flex;
  justify-content: flex-end;
}
.post__submit {
  padding: 10px 50px;
}

/*# sourceMappingURL=rightSidebarBlogDetails.css.map */
