@import '../../components/fonts-and-color';
@import '../../components/blocks/blocks';
@import '../../components/blocks/nav-bar';
@import '../../components/blocks/footer';
@import '../../components/blocks/cover';
@import '../../components/blocks/aside';
.post{
    padding: 130px 20px;
    &__container{
        align-items: flex-start;
        max-width: 1148px;
        margin: 0 auto;
    }
    &__only-one{
        margin-right: 30px;
        width: 100%;
        max-width: 750px;
    }
    &__icon{
        @include sub-text;
        margin-bottom: 20px;
        width: 100%;
        max-width: 350px
    }
    &__img{
        width: 100%;
        height: auto;
    }
    &__title{
        font-family: $font;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.25;
        color: #333333;
    }
    &__text{
        @include sub-text;
    }
    &__date{
        text-align: right;
        width: 120px;
        background: url('../images/calendar.png') no-repeat 0 50%;
        background-size: 15%;
    }
    &__comment{
        text-align: right;
        width: 40px;
        background: url('../images/comment.png') no-repeat 0 50%;
        background-size: 40%;
    }
    &__likes{
        text-align: right;
        width: 40px;
        background: url('../images/like.png') no-repeat 0 50%;
        background-size: 40%;
        margin-right: 40px;
        
    }
    &__text-comment{
        margin: 0 0 0 70px;
        font-family:$font;
        line-height: 1.69;
        color: #333333;
    }
    &__hr{
        margin: 40px 0;
        border: 1px solid whitesmoke;
    }
    &__txt{
        font-family:$font;
        line-height: 1.69;
        color: #333333;
        margin-right: 10px;
    }
    &__group-btn{
        margin-top: 30px;
        text-align: center;
    }
    &__button{
        padding: 10px 30px;

    }
    &__btn{
        margin-left: 30px;
        padding: 10px 50px;
    }
    &__input{
        width: 45%;
        border-radius: 5px;
        border: solid 1px #dcdcdc;
        margin: 0 0 30px;
        outline: none;
        padding: 15px 0 15px 20px;
        @include sub-text;
        &::placeholder{
            @include sub-text;
            padding-left: -20px;
        }
        &_textarea{ 
            resize: none;
            width: 100%;
            max-width: 730px;

        }
    }
    &__content-btn{
        display: flex;
        justify-content: flex-end;
    }
    &__submit{
        padding: 10px 50px;

    }
}
@media (max-width:1250px){
    .post{
        padding: 50px 20px;
        &__container{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__only-one{
            margin-right: 0;
        }
    }
}
@media (max-width:800px){
    .post{
        &__input{
            width: 42%;
            &_textarea{     
            width: 96%;

            }
        }
    }   
}
@media (max-width:410px){
    .post{
        &__btn{
            display: block;
            margin: 30px auto;
        }
        &__input{
            width: 41%;
            &_textarea{     
            width: 92%;

            }
        }
    }
}