body {
  margin: 0;
  padding: 0;
}

.standart {
  display: none;
}

.standart-title {
  display: none;
}

.fixed-container {
  max-width: 1068px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blue-btn {
  border: none;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  line-height: 1.69;
  color: #FFF;
  text-transform: uppercase;
  border-radius: 25px;
  background-color: #0063dd;
  outline: none;
  cursor: pointer;
}

.white-btn {
  font-family: "Quicksand", sans-serif;
  line-height: 1.69;
  color: #0f7bff;
  font-weight: bold;
  border-radius: 25px;
  border: solid 1px #0f7bff;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.bckg-color {
  background-color: #f5fcfd;
}

.nav-bar {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px;
}
.nav-bar__span {
  font-family: "Quicksand", sans-serif;
  margin: 33px 0;
  display: inline-block;
  font-size: 36px;
  line-height: 0.67;
  font-weight: bold;
  color: #0f7bff;
}
.nav-bar__menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-bar__item {
  display: inline-block;
  vertical-align: middle;
}
.nav-bar__link {
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  color: #929292;
  font-weight: 500;
  line-height: 1.69;
  text-transform: uppercase;
  margin-right: 30px;
  outline: none;
  transition: 1s;
}
.nav-bar__link:hover {
  color: #0f7bff;
}
.nav-bar__hamburger {
  display: none;
}
.nav-bar__btn {
  margin-right: 20px;
  padding: 10px 52px;
  margin-left: 30px;
}

@media (max-width: 778px) {
  .nav-bar__span {
    font-size: 25px;
  }
  .nav-bar__content {
    display: none;
  }
  .nav-bar__hamburger {
    display: inline-block;
  }
  .nav-bar__hr {
    border: 2px solid #0f7bff;
    width: 50px;
    margin-bottom: 5px;
  }
  .nav-bar__hr {
    margin-bottom: 0;
  }
}
.all-info {
  background-color: #f5fcfd;
  padding: 130px 20px;
  border-bottom: 1px solid #FFF;
}
.all-info__container {
  align-items: flex-start;
}
.all-info__logo {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  display: inline-block;
  font-size: 36px;
  line-height: 0.67;
  font-weight: bold;
  color: #0f7bff;
}
.all-info__fb {
  display: inline-block;
  background: url("../../components/images/fb-footer.png") no-repeat center center;
  width: 10px;
  height: 20px;
  transition: 1s;
  opacity: 0.3;
  margin-right: 20px;
}
.all-info__fb:hover {
  opacity: 1;
}
.all-info__twitter {
  display: inline-block;
  background: url("../../components/images/twitter-footer.png") no-repeat center center;
  width: 18px;
  height: 16px;
  transition: 1s;
  opacity: 0.3;
  margin-right: 20px;
}
.all-info__twitter:hover {
  opacity: 1;
}
.all-info__yt {
  display: inline-block;
  background: url("../../components/images/yt-footer.png") no-repeat center center;
  width: 19px;
  height: 14px;
  transition: 1s;
  opacity: 0.3;
}
.all-info__yt:hover {
  opacity: 1;
}
.all-info__text {
  font-family: "Quicksand", sans-serif;
  line-height: 1.69;
  color: #929292;
  max-width: 400px;
  margin-top: 33px;
}
.all-info__sub-title {
  margin-top: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: #333333;
  margin-bottom: 30px;
}
.all-info__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.all-info__item {
  margin-bottom: 10px;
}
.all-info__link {
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  line-height: 1.69;
  color: #929292;
  transition: 1s;
}
.all-info__link:hover {
  color: #0f7bff;
}
.all-info__menu {
  margin-right: 30px;
}

@media (max-width: 758px) {
  .all-info {
    padding: 50px 20px;
  }
  .all-info__container {
    flex-wrap: wrap;
  }
  .all-info__menu {
    margin-top: 30px;
  }
}
.coperyght {
  position: relative;
  background-color: #f5fcfd;
  padding: 41px 20px;
}
.coperyght__text {
  font-family: "Quicksand", sans-serif;
  line-height: 1.69;
  color: #929292;
  margin-right: 30px;
}
.coperyght__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.coperyght__item {
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
}
.coperyght__item_padding {
  margin-right: 0;
}
.coperyght__link {
  font-family: "Quicksand", sans-serif;
  line-height: 1.69;
  color: #929292;
  text-decoration: none;
  transition: 1s;
}
.coperyght__link:hover {
  color: #0f7bff;
}
.coperyght__footer-arrow {
  width: 18px;
  height: 24px;
  padding: 7px 10px;
  background: url("../../components/images/arrow-footer.png") no-repeat center center;
  border-radius: 3px;
  background-color: #0f7bff;
  position: absolute;
  top: 32.5%;
  right: 10%;
}

@media (max-width: 1530px) {
  .coperyght__footer-arrow {
    right: 2%;
  }
  .coperyght__container {
    justify-content: space-around;
  }
}
@media (max-width: 900px) {
  .coperyght__container {
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .coperyght__footer-arrow {
    top: 50%;
  }
  .coperyght__items {
    margin-left: 0;
    margin-top: 30px;
  }
  .coperyght__item {
    display: block;
  }
  .coperyght__container {
    justify-content: flex-start;
  }
}
.sign-up {
  text-align: center;
  padding: 130px 20px;
}
.sign-up__title {
  font-family: "Quicksand", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.13;
  color: #333333;
}
.sign-up__text {
  font-family: "Quicksand", sans-serif;
  line-height: 1.69;
  color: #929292;
}
.sign-up__text_padding {
  margin-bottom: 47px;
}
.sign-up__btn-fb {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  line-height: 1.69;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  background-color: #3b5999;
  padding: 10px 36px;
}
.sign-up__btn-twitter {
  margin-left: 30px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  line-height: 1.69;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  background-color: #55acee;
  padding: 10px 47px;
}
.sign-up__sub-title {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: #333333;
  margin: 50px 0;
}
.sign-up__input {
  display: block;
  width: 80%;
  max-width: 300px;
  border-radius: 5px;
  border: solid 1px #dcdcdc;
  padding: 15px 0 15px 20px;
  margin: 0 auto 30px;
  outline: none;
  font-family: "Quicksand", sans-serif;
  line-height: 1.69;
  color: #929292;
}
.sign-up__input::placeholder {
  font-family: "Quicksand", sans-serif;
  line-height: 1.69;
  color: #929292;
}
.sign-up__link {
  color: #0f7bff;
  text-decoration: none;
}
.sign-up__btn {
  margin-top: 15px;
  padding: 10px 37px;
}

@media (max-width: 370px) {
  .sign-up__btn-twitter {
    margin-top: 30px;
    margin-left: 0;
  }
}

/*# sourceMappingURL=signUp.css.map */
