@import '../../components/fonts-and-color';
@import '../../components/blocks/blocks.scss';
@import '../../components/blocks/nav-bar';
@import '../../components/blocks/footer';
.sign-up{
    
    text-align: center;
    padding: 130px 20px;
    &__title{
        @include title;
    }
    &__text{
        @include sub-text;
        &_padding{
            margin-bottom: 47px;
        }
    }
    &__btn-fb{
        font-family:$font;
        font-weight: bold;
        line-height: 1.69;
        color: #ffffff;
        border: 0;
        border-radius: 5px;
        background-color: #3b5999;
        padding: 10px 36px;
    }
    &__btn-twitter{
        margin-left: 30px;
        font-family:$font;
        font-weight: bold;
        line-height: 1.69;
        color: #ffffff;
        border: 0;
        border-radius: 5px;
        background-color: #55acee;;
        padding: 10px 47px;
    }
    &__sub-title{
        @include sub-title;
        margin: 50px 0;
    }
    &__input{
        display:block;
        width: 80%;
        max-width: 300px;
        border-radius: 5px;
        border: solid 1px #dcdcdc;
        padding: 15px 0 15px 20px;
        margin: 0 auto 30px;
        outline: none;
        @include sub-text;
        &::placeholder{
            @include sub-text;
        }
    }
    &__link{
        color: #0f7bff;
        text-decoration: none;
    }
    &__btn{
        margin-top: 15px;
        padding: 10px 37px;
        
    }
}
@media (max-width: 370px){
    .sign-up{
        &__btn-twitter{
            margin-top: 30px;
            margin-left: 0;
        }
    }
}