@import '../../components/fonts-and-color';
body{
    margin: 0 ;
    padding: 0 ;
}
.standart-title{
    display: none;
}
.fixed-container{
    max-width: 1068px;
    margin: 0 auto;
    // padding: 0 20px;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blue-btn{
    border: none;
    font-family: $font;
    font-weight: bold;
    line-height: 1.69;
    color: #FFF;
    text-transform: uppercase;
    border-radius: 25px;
    background-color: #0063dd;
    outline: none;
}
.white-btn{
    font-family: $font;
    line-height: 1.69;
    color: #0f7bff;
    font-weight: bold;
    border-radius: 25px;
    border: solid 2px #0f7bff;
    background-color: #FFF;
    outline: none;
}
.nav-bar{
    max-width: 1640px;
    margin: 0 auto;
    &__span{
        font-family: $font;
        display: inline-block;
        padding: 33px 24px;
        background-color: #0f7bff;
        font-size: 36px;
        line-height: 0.67;
        font-weight: bold;
        color: #feffff;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    &__menu{
        list-style: none;
        margin: 0;
        padding:0;
    }
    &__items{
        display: inline-block;
        vertical-align: middle;
    }
    &__item{
        text-decoration: none;
        font-family: $font;
        color: #929292;
        font-weight: 500;
        line-height: 1.69;
        text-transform: uppercase;
        margin-right: 30px;
        outline: none;
    }
    &__btn{
        padding: 10px 52px;
    }
}
.elements{
    text-align: center;
    &__title{
        margin: 106px 0 32px;
        font-family: $font;
        font-size: 36px;
        font-weight: bold;
        line-height: 0.67;
        color: #333333;
    }
    &__text{
        font-family: $font;
        line-height: 1.69;
        color: #929292;
        max-width: 611px;
        margin: 0 auto 37px;
    }
    &__group-button{
        margin-bottom: 40px;
    }
    &__button{
        &_blue{
            padding: 10px 30px;
        }
        &_white{
            padding: 10px 30px;
            margin-left: 30px;
        }
    }
    &__img{
        display: block;
        margin: 0 auto;
    }

}
.features{
    background-color: #f5fcfd;
    text-align: center;
    padding: 165px 0 130px;
    &__box{
        background-color: #FFF;
        padding: 40px 33px;
        margin-right: 30px;
        &_margin{
            margin-top: 50px;
        }
        &_margin-none{
            margin-right: 0;
        }
    }
    &__img{
        margin-bottom: 20px;
    }
    &__title{
        margin: 0 0 14px;
        font-family: $font;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.5;
        color: #333333;
    }
    &__text{
        margin: 0;
        font-family: $font;
        line-height: 1.69;
        color: #929292;
    }
}
.about{
    max-width: 1370px;
    margin: 0 auto;
    &__img-and-text{
        margin-right: 70px
    }
    &__title{
        font-family:  $font;
        font-size: 32px;
        font-weight: 500;
        line-height: 1.13;
        color: #333333;
        &_padding-2{
            margin-top: 144px;
        }
        &_padding-1{
            margin-top: 226px;
        }
    }
    &__img{
        display: block;
    }
    &__text{
        font-family: Quicksand;
        line-height: 1.69;
        color: #929292;
        max-width: 544px;
    }
    &__span{
    }
    &__link{
        display: block;
        font-family: $font;
        font-weight: 500;
        line-height: 1.69;
        color: #0f7bff;
        text-decoration: none;
        &_padding-1{
            margin-bottom: 144px;
        }
        &_padding-2{
            margin-bottom: 226px;
        }
    }
    &__block{
        flex-wrap: wrap;
    }
}