<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title homePage
        link(rel="stylesheet", href="../fonts/fonts.css")
    body
        header
            .nav-bar.flex-container
                .nav-bar__logo
                    <span class = "nav-bar__span">AppSon</span>
                .nav-bar__menu-and-button.flex-container
                    ul.nav-bar__menu
                        li.nav-bar__items
                            a(href="#").nav-bar__item home
                        li.nav-bar__items
                            a(href="#").nav-bar__item features
                        li.nav-bar__items
                            a(href="#").nav-bar__item pricing
                        li.nav-bar__items
                            a(href="#").nav-bar__item pages
                    button.blue-btn.nav-bar__btn sign up
            .elements.fixed-container
                h1.elements__title Best-Desktop-App-for-You
                p.elements__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .elements__group-button
                    button.blue-btn.elements__button_blue Download
                    button.white-btn.elements__button_white Free Trial
                img(src="./images/phone-three.png" alt="three-phone").elements__img
        main
            section.features
                h2.standart-title Standart
                .fixed-container.flex-container
                    .features__box
                       img(src="./images/img-features-3.png", alt="img-features").features__img
                       h2.features__title Analysis
                       p.features__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    .features__box.features__box_margin
                       img(src="./images/img-features-2.png", alt="img-features").features__img
                       h2.features__title Clean Design
                       p.features__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    .features__box.features__box_margin-none
                       img(src="./images/img-features-1.png", alt="img-features").features__img
                       h2.features__title Messaging
                       p.features__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            section.about
                h2.standart-title Standart
                .about__block
                    .about__img-and-text.flex-container
                        img(src="./images/app-screens-1.png", alt="app-screens").about__img
                        .about__group-text
                            h2.about__title.about__title_padding-2 Easy Messaging
                            p.about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            a(href="#").about__link.about__link_padding-2 Read More <span class="about__span"></span>
                    .about__img-and-text.flex-container
                        .about__group-text
                            h2.about__title.about__title_padding-1 Keep In Touch
                            p.about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            a(href="#").about__link.about__link_padding-1 Read More<span class="about__span"></span>
                        img(src="./images/app-screens-2.png", alt="app-screens").about__img


