<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title homePage
        link(rel="stylesheet", href="../fonts/fonts.css")
    body
        header
            .nav-bar.flex-container
                .nav-bar__logo
                    <span class = "nav-bar__span">AppSon</span>
                .nav-bar__menu-and-button.flex-container
                    ul.nav-bar__menu
                        li.nav-bar__items
                            a(href="#").nav-bar__item home
                        li.nav-bar__items
                            a(href="#").nav-bar__item features
                        li.nav-bar__items
                            a(href="#").nav-bar__item pricing
                        li.nav-bar__items
                            a(href="#").nav-bar__item pages
                    button.blue-btn.nav-bar__btn sign up
            .fish.fixed-container
                h1.fish__title Best-Desktop-App-for-You
                p.fish__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .fish__group-button
                    button.blue-btn.fish__button_blue Download
                    button.white-btn.fish__button_white Free Trial
                img(src="./images/phone-three.png" alt="three-phone").fish__img
        main
            section.features
                h2.standart-title Standart
                .fixed-container.flex-container
                    .features__box
                       img(src="./images/img-features-3.png", alt="img-features").features__img
                       h2.features__title Analysis
                       p.features__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    .features__box.features__box_margin
                       img(src="./images/img-features-2.png", alt="img-features").features__img
                       h2.features__title Clean Design
                       p.features__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    .features__box.features__box_margin-none
                       img(src="./images/img-features-1.png", alt="img-features").features__img
                       h2.features__title Messaging
                       p.features__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore

