<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title signUp
        link(rel="stylesheet", href="../../fonts/fonts.css")
        link(rel="stylesheet", href="../signUp/css/signUp.css")
    body
        header.bckg-color
            .nav-bar.flex-container
                .nav-bar__logo
                    <span class = "nav-bar__span">AppSon</span>
                .nav-bar__content.flex-container
                    ul.nav-bar__menu
                        li.nav-bar__item
                            a(href="#").nav-bar__link home
                        li.nav-bar__item
                            a(href="#feat").nav-bar__link features
                        li.nav-bar__item
                            a(href="#pric").nav-bar__link pricing
                        li.nav-bar__item
                            a(href="#").nav-bar__link pages
                    button.blue-btn.nav-bar__btn sign up
        menu
            section.sign-up.fixed-container
                h2.standart Standart
                .sign-up__container
                    h2.sign-up__title Sign Up
                    p.sign-up__text.sign-up__text_padding Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.
                    button.sign-up__btn-fb FACCEBOOK
                    button.sign-up__btn-twitter TWITTER
                    h3.sign-up__sub-title OR
                    input(type="text" placeholder="Enter full name").sign-up__input
                    input(type="email" placeholder="Enter Email").sign-up__input
                    input(type="password" placeholder="Password").sign-up__input
                    input(type="password" placeholder="Confirm Password").sign-up__input
                    p.sign-up__text Already have account? 
                        a(href="../signIn/signIn.html").sign-up__link Log In 
                    button.blue-btn.sign-up__btn Sign Up
        footer
            section.all-info
                h2.standart Standart
                .all-info__container.fixed-container.flex-container
                    .all-info__content
                        h2.all-info__logo AppSon
                        p.all-info__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. tempor incididunt ut labore
                        a(href="#").all-info__fb
                        a(href="#").all-info__twitter
                        a(href="#").all-info__yt
                    .all-info__menu
                        h3.all-info__sub-title Company
                        ul.all-info__items
                            li.all-info__item
                                a(href="").all-info__link About Us
                            li.all-info__item
                                a(href="").all-info__link Press
                            li.all-info__item 
                                a(href="").all-info__link Reviews
                            li.all-info__item
                                a(href="").all-info__link Partners
                    .all-info__menu
                        h3.all-info__sub-title Blog
                        ul.all-info__items
                            li.all-info__item
                                a(href="").all-info__link Finance
                            li.all-info__item
                                a(href="").all-info__link Technology
                            li.all-info__item
                                a(href="").all-info__link Mobile
                    .all-info__menu
                        h3.all-info__sub-title Integrations
                        ul.all-info__items
                            li.all-info__item
                                a(href="").all-info__link Android App
                            li.all-info__item
                                a(href="").all-info__link IOS App
                            li.all-info__item
                                a(href="").all-info__link Windows App
                            li.all-info__item
                                a(href="").all-info__link VR Box App   
            section.coperyght
                h2.standart Standart
                .coperyght__container.fixed-container.flex-container
                    .coperyght__text © 2018 Copyright, All Rights Reserved by AppSon
                    ul.coperyght__items
                        li.coperyght__item
                            a(href="").coperyght__link Terms & Condition
                        li.coperyght__item
                            a(href="").coperyght__link Privacy Policy
                        li.coperyght__item.coperyght__item_padding
                            a(href="").coperyght__link Help
                a(href="").coperyght__footer-arrow

            


                