<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title signUp
        link(rel="stylesheet", href="../../fonts/fonts.css")
        link(rel="stylesheet", href="../signIn/css/signIn.css")
    body
        include ../components/pug-blocks/nav-bar.pug
        main
            section.sign-in.fixed-container
                h2.standart Standart
                .sign-in__container
                    h2.sign-in__title Log In
                    p.sign-in__text.sign-in__text_padding Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.
                    button.sign-in__btn-fb FACCEBOOK
                    button.sign-in__btn-twitter TWITTER
                    h3.sign-in__sub-title OR
                    input(type="email" placeholder="Enter Email").sign-in__input
                    input(type="password" placeholder="Password").sign-in__input
                    .sign-in__box.flex-container
                        a(href="#").sign-in__link Forgot Passowrd? 
                        a(href="../signUp/signUp.html").sign-in__link Create a free account? 
                    button.blue-btn.sign-in__btn Login
        include ../components/pug-blocks/footer.pug

            


                