.cover{
    border-top: 1px solid whitesmoke;
    padding: 36px 20px;
    background-color:#f5fcfd;
    &__title{
        font-family: $font;
        font-size: 42px;
        font-weight: bold;;
        line-height: 0.57;
        color: #333333;
        text-transform: uppercase;
    }
    &__sub-title{
        font-family: Quicksand;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.5;
        color: #333333;
    }
    &__contetn{
        margin-right: 30px;
    }
    &__container{
        flex-wrap: wrap-reverse;
    }
}
@media (max-width: 1110px){
    
    .cover{
        &__container{
            justify-content: center;
        }
        &__content{
            text-align: center;
        }
        &__img{
            width: 60%;
            height: auto;
        }
    }
}
@media (max-width: 600px){
    .cover{
        &__title{
            font-size: 25px;
        }
    }
}
@media (max-width: 400px){
    .cover{
        &__title{
            font-size: 20px;
        }
    }
}