section.cover
    h2.standart-title standart
    .cover__container.fixed-container.flex-container
        .cover__content
            p.cover__sub-title Latest Info
            h1.cover__title frequently Ask question
            p.cover__sub-title Home - FAQs
        img(src="../components/images/girl-and-pc.png", alt="girl-and-pc")