mixin text(uptext, title, downtext)
    section.cover
        h2.standart-title standart
        .cover__container.fixed-container.flex-container
            .cover__content
                p.cover__sub-title= uptext
                h1.cover__title= title
                p.cover__sub-title= downtext
            img(src="../components/images/girl-and-pc.png", alt="girl-and-pc")