footer
    section.all-info
        h2.standart-title Standart
        .all-info__container.fixed-container.flex-container
            .all-info__content
                h2.all-info__logo AppSon
                p.all-info__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. tempor incididunt ut labore
                a(href="#").all-info__fb
                a(href="#").all-info__twitter
                a(href="#").all-info__yt
            .all-info__menu
                h3.all-info__sub-title Company
                ul.all-info__items
                    li.all-info__item
                        a(href="").all-info__link About Us
                    li.all-info__item
                        a(href="").all-info__link Press
                    li.all-info__item 
                        a(href="").all-info__link Reviews
                    li.all-info__item
                        a(href="").all-info__link Partners
            .all-info__menu
                h3.all-info__sub-title Blog
                ul.all-info__items
                    li.all-info__item
                        a(href="").all-info__link Finance
                    li.all-info__item
                        a(href="").all-info__link Technology
                    li.all-info__item
                        a(href="").all-info__link Mobile
            .all-info__menu
                h3.all-info__sub-title Integrations
                ul.all-info__items
                    li.all-info__item
                        a(href="").all-info__link Android App
                    li.all-info__item
                        a(href="").all-info__link IOS App
                    li.all-info__item
                        a(href="").all-info__link Windows App
                    li.all-info__item
                        a(href="").all-info__link VR Box App   
    section.coperyght
        h2.standart-title Standart
        .coperyght__container.fixed-container.flex-container
            .coperyght__text © 2018 Copyright, All Rights Reserved by AppSon
            ul.coperyght__items
                li.coperyght__item
                    a(href="").coperyght__link Terms & Condition
                li.coperyght__item
                    a(href="").coperyght__link Privacy Policy
                li.coperyght__item.coperyght__item_padding
                    a(href="").coperyght__link Help
        a(href="").coperyght__footer-arrow
