header.bckg-color
    .nav-bar.flex-container
        .nav-bar__logo
            <span class = "nav-bar__span">AppSon</span>
        .nav-bar__content.flex-container
            ul.nav-bar__menu
                li.nav-bar__item
                    a(href="#").nav-bar__link home
                li.nav-bar__item
                    a(href="#feat").nav-bar__link features
                li.nav-bar__item
                    a(href="#pric").nav-bar__link pricing
                li.nav-bar__item
                    a(href="#").nav-bar__link pages
            button.blue-btn.nav-bar__btn sign up
        .nav-bar__hamburger
            hr.nav-bar__hr
            hr.nav-bar__hr
            hr.nav-bar__hr